body{
  margin:0;
  padding:0;
  width:100vw;
  border:none;
  background-color: aquamarine;
}

.container{
  display:flex;
  flex-direction: row;
  height: fit-content;
  gap: 10px;
  flex-wrap: unwrap;
  margin:auto;
}

#editor, #preview{
  width:50%;
  
  
}

#editor{
  min-height: 300px;
  background : whitesmoke
}

img{
  width:50%;
}